@model AutoTracker.ViewModels.LogUserViewModel
@{
    ViewData["Title"] = "Home Page";
}


<!-- top picture -->
<div class="row align-items-center my-5">
    <div class="col-lg-7">

        <img src="~/images/lexus-rx.jpg" width="100%" />

    </div>
    <div class="col-lg-5 text-center">
        <div>
            <br />
            <br />
            <h4>Existing Users, Login</h4>
            <br />

            <form asp-controller="User" asp-action="Login" method="post">
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input class="form-control" asp-for="Username"  value="user1" />
                    <span asp-validation-for="Username"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input class="form-control" asp-for="Password"  value="12345" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="card-footer">
                    <input class="btn btn-danger btn-sm" type="submit" value="Login" />
                </div>

                @if (ViewBag.errors != null)
                {
                    <p>@ViewBag.errors</p>
                }

            </form>



        </div>
        <p>
            Not a member?<br />

            <a href="/User/Add" class="btn btn-danger btn-sm">Register</a>
        </p>
    </div>
</div>



<div class="row">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Track Maintenance</h2>
                <p class="card-text">Keep a log of all the maintenance 
                of your car without keeping papers.  Just input what maintenance 
                you have done, the date, the cost and AutoTracker will keep them and 
                alert you when it is time for a new one. </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-danger btn-sm">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Track Modifications</h2>
                <p class="card-text">Are you a car aficionado who likes to make 
                performance modifications to his car? Keep track of them.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-danger btn-sm">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Track your Cars</h2>
                <p class="card-text">If you own more than one car or want to track the 
                maintenance of the cars in the family or the company use  AutoTracker. 
                You will be on the know and avoid unwelcome and costly surprises. </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-danger btn-sm">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->

</div>


