@model AutoTracker.ViewModels.MainPageViewModel

@{
    ViewData["Title"] = "Main Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to AutoTracker</h1>
<a href="/Cars/Add">Add A Car</a>
<div class="row">

            @foreach (var car in Model.Cars)
            {
             <div class="col-md-6">
                <h5 class="card-title"><a href="/Cars/Car/@car.ID">@car.Make @car.Model</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">Maintenance History - <a href="/Maintenance/Add/@car.ID">Add</a></h6>
                <p class="card-text">You have logged the following maintenance in AutoTracker</p>
            
                    @foreach (var main in Model.Maintenances)
                    {
                        @if (main.CarID == car.ID)
                        {


                            
             <p>
                 Maintenance type:
                 @foreach (var maintenanceType in Model.MaintenanceTypes)
                 {
                     @if (main.MaintenanceTypeID == maintenanceType.MaintenanceTypeID)
                     {
                         @maintenanceType.Name
                     }
                 }
             </p>
             <p>
                 cost: $@main.MaintenanceCost
             </p>



                                 }


                    }
           
             <h6 class="card-subtitle mb-2 text-muted">Modification History - <a href="/Mod/Add/@car.ID">Add</a></h6>
                <p class="card-text">You have made the following modifications to your car</p>
                <ul>
                    @foreach (var mod in Model.Mods)
                    {
                        @if (mod.CarID==car.ID)
                        {
                    <li> @mod.ModName</li>
                        }
                    }
                </ul>

             </div>
            }
</div>




