@model AutoTracker.ViewModels.AddMaintenanceViewModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add Maintenance</h1>
<div class="row align-items-center my-5">
    <div class="col-lg-7">

        <h2>Here the name of the car</h2>
        <p>
            AutoTracker has the history of your car maintenancte<br />

            <ul>
                <li>carmake</li>
                <li>car description</li>
                <li>Track all your cars history in one place</li>
            </ul>
        </p>


    </div>
    <div class="col-lg-5 text-center">
        <div>
            <br />
            <br />
            <h4>Add a New Maintenance Service</h4>
            <br />

            <form asp-controller="Maintenance" asp-action="Add" method="post">

                <div class="form-group">
                    <label asp-for="MaintenanceTypeID"></label>
                    <select asp-for="MaintenanceTypeID" asp-items="Model.MaintenanceTypes"></select>
                    <input type="hidden" name="CarID" value="@Model.CarID" />
                    <span asp-validation-for="MaintenanceTypeID"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaintenacePerformedMiles"></label>
                    <input class="form-control" asp-for="MaintenacePerformedMiles" />
                    <span asp-validation-for="MaintenacePerformedMiles"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaintenancePerformedDate"></label>
                    <input class="form-control" asp-for="MaintenancePerformedDate" />
                    <span asp-validation-for="MaintenancePerformedDate"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaintenanceCost"></label>
                    <input class="form-control" asp-for="MaintenanceCost" />
                    <span asp-validation-for="MaintenanceCost"></span>
                </div>

                <div class="card-footer">
                    <input class="btn btn-danger btn-sm" type="submit" value="Add Maintenance Service" />


                </div>
            </form>

        </div>




    </div>
</div>
