@model AutoTracker.ViewModels.AddCarsViewModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add a Car</h1>
<div class="row align-items-center my-5">
    <div class="col-lg-7">

        <h2>Add your Car's VIN and we'll look up the details</h2>
        <p>
            AutoTracker has the history of your car maintena

            <form asp-controller="Cars" asp-action="Add" method="post">


                <input type="hidden" name="CarID" value="@Model.CarID" />
                <div class="form-group">
                    <label asp-for="VinNumber">Vin Number</label>
                    <input class="form-control" asp-for="VinNumber" />
                    <span asp-validation-for="VinNumber"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CurrentMiles">Current Miles</label>
                    <input class="form-control" asp-for="CurrentMiles" />
                    <span asp-validation-for="CurrentMiles"></span>
                </div>


                <div class="card-footer">
                    <input class="btn btn-danger btn-sm" type="submit" value="Add a Car" />
                </div>
            </form>

        </div>




    </div>
</div>
